	*{
		margin:0;
		padding:0;


	}
	
	.main{
		width:100%;
		height:109vh;
		background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0, 0, 0, 0.541)50%), url(../Images/ie.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		background-position: flex;
	}
	
	.navbar{
		width: 1200px;
		height: 75px;
		margin: auto;
	}
	
	.icon{
		width:300px;
		float:left;
		height: 70px;
	}
	
	.logo{
		color: red;
		font-size:20px;
		font-family:Arial;
		padding-left:20px;
		float:left;
		padding-top: 10px;
		cursor: default;
	}
	
	.menu{
		width: 400px;
		float:left;
		height: 70px;
	}
	
	.menu ul{
		float:left;
		display: flex;
		justify-content:center;
		align-items: center;
	}
	
	.menu ul li{
		list-style: none;
		margin-left:62px;
		margin-top:27px;
		font-size:19px;
	}
	.menu ul li a{
		text-decoration:none;
		color: white;
		font-family: Arial;
		font-weight: bold;
		
		
	}
	
	ul li a:hover{
		color: red;
	}
	.btnAdmin{
		background: none;
		border: none;
		margin-top: 120px;
		margin-left: 150px;
		word-spacing: 50px
		
	}
	.btnAdmin .adminbtn1{
		
		background: red;
		font-size: 70px;
		border-radius: 10px;
		cursor: pointer;
	}
	.btnAdmin .adminbtn1 a{
		
		text-decoration: none;
		color: black;	
		transition: .03s ease;
	}
	.btnAdmin .adminbtn2{
		background: red;
		font-size: 70px;
		border-radius: 10px;
		cursor: pointer;
	}
	.btnAdmin .adminbtn2 a{
		
		text-decoration: none;
		color: black;	
		transition: .03s ease;
	}
	.btnAdmin .adminbtn3{
		background: red;
		font-size: 70px;
		border-radius: 10px;
		cursor: pointer;
	}
	.btnAdmin .adminbtn3 a{
		
		text-decoration: none;
		color: black;	
		transition: .03s ease;
	}
	.adminbtn1:hover{
		background: rgb(216, 216, 203);
		color: black;
	}
	.adminbtn2:hover{
		background: rgb(216, 216, 203);
		color: black;
	}
	.adminbtn3:hover{
		background: rgb(216, 216, 203);
		color: black;
	}
	.adminwc{
		margin: 8px;
		color: red;
		padding-left:30px;
		cursor: default;
		 font-family: "Lucida Console", "Courier New", monospace;
	}
	
	.adminwc span{
		font-family: Arial;
		color:yellow;
		font-weight: bold;
		font-size: 35px;
	}
	.adminwc .par{
		font-family: arial;
		color: red;
	}
	.roleAdmin{
			
		text-align: center;
		color:rgb(0, 0, 0);
		font-size: 22px;
		background-color: rgba(161, 161, 161, 0.767);
		width: 100%;
		margin: 2px;	
	}
	.ajaxinfo{
		width: 80%;
		font-weight: bold;
		font-size: 20px;
		margin-top: 45px;
	}